@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
  }
}

body {
  /* position: relative; */
  background-color: #f9fafb;
}

.navbar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  max-height: 100vh;

  /* position: fixed; */
  /* position: absolute;
  top: 0;
  left: 0; */
  box-shadow: 3px 0 20px rgba(0, 0, 0, 0.15);
}

.logo {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.link {
  transition: all 0.25s;
}

.link:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

section {
  height: 100vh;
  overflow: scroll;
  width: 100%;
  padding: 0 25px;
}